textarea{
    margin-left: 25px;
    margin-top: 25px;
}
.blu-color{
    color: blue;
}
.red-color{
    color:red;
}
:host{
    /*background-color: blueviolet;*/
    opacity: 0.7;
}
textarea.ng-untouched{
    opacity: 0.5;
}
textarea{
    background-color: darkgoldenrod;
}
.showcase{
    margin-bottom: 50px;
}