textarea{
    margin-left: 25px;
    margin-top: 25px;
}
.blu-color{
    color: blue;
}
.red-color{
    color:red;
}
:host{
    background-color: blueviolet;
    padding-top:70px ;
}
.ng-untouched{
    opacity: 0.5;
}
.showcase{
    margin-bottom: 100px;
}