<button (click)="find()">{{'findSyns'|transloco}}</button>
<button (click)="changeMode()">@if(mode==true){{{'highlightAll'|transloco}}}@else{{{'replaceAll'|transloco}}}</button>
@if(syns.length!=0){
    <ul>
        @for (syn of syns;track syn.word){
        <li><button (click)="replace(syn.word)" >{{syn.word}}</button></li>
    }
    </ul>
}
<ul >
    @for (letter of mainText;track $index) {
        <li [ngStyle]="{opacity: visibility}"><h6 >{{$index + " " + letter}}</h6></li>
    }
</ul>
{{visibility}}