<button (click)="copy()">Copy</button>
<button (click)="find()">Find synonyms</button>
<button (click)="changeMode()">@if(mode==true){Replacing mode=highligth all}@else{Replacing mode=replace all}</button>
@if(syns.length!=0){
    <ul>
        @for (syn of syns;track syn.word){
        <li><button (click)="replace(syn.word)" >{{syn.word}}</button></li>
    }
    </ul>
}
<ul >
    @for (letter of mainText;track $index) {
        <li [ngStyle]="{opacity: visibility}"><h6 >{{$index + " " + letter +" " +$count}}</h6></li>
    }
</ul>
{{visibility}}